@model IEnumerable<Paven.Models.ApplicationUser>

@{
    ViewBag.Title = "Manage User Roles";
}

<h2 class="text-center text-danger">Manage User Roles</h2>
<hr />
<h3 class="text-center text-warning">Assign A Driver Or Admin Here</h3>
<hr />

<ul>
    <li>Driver User: driver@appdev.com & Password: Test123&#64;</li>
    <li>Test User: test@appdev.com & Password: Test123&#64;</li>
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Account Name")
        </th>
        <th>
            @Html.DisplayName("Role")
        </th>
    </tr>

    @foreach (var item in Model.Where(x => x.UserName != "admin@appdev.com"))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Assign Role", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>

