@{
    ViewBag.Title = "Cancelled Payment";
}
<h2>Payment Unsuccessful</h2>
<p>Please retry your last order.</p>
<p>
    View Your Recent Purchases @Html.ActionLink("Here", "PurchaseHistory", "Manage")
</p>
